{{- $releaseName := .Release.Name -}}
{{- $chartName := include "extractable-management.name" . -}}
{{- $postgres := include "merged.postgres" . | fromYaml }}
{{- $secretName := default (printf "%s-db-secret" (include "extractable-management.fullname" .)) $postgres.user.secretName }}
{{- if not $postgres.user.useExternal -}}
apiVersion: v1
kind: Secret
metadata:
  name: {{ $secretName }}
  annotations:
    "helm.sh/resource-policy": keep
  labels:
    app: {{ $chartName }}
    component: {{ $chartName }}
    release: {{ $releaseName }}
    {{- include "extractable-management.labels" . | nindent 4 }}
type: Opaque
data:
  username: {{ $postgres.user.username | b64enc }}
  {{- if $postgres.user.requirePassword }}
  password: {{ $postgres.user.password | b64enc }}
  {{- end }}
{{- end }}
