{{- $postgres := include "merged.postgres" . | fromYaml }}
{{- if and $postgres.enabled (not $postgres.user.useExternal) }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ $postgres.user.secretName }}
  labels:
    {{- include "extractable-management.labels" . | nindent 4 }}
type: Opaque
stringData:
  username: {{ $postgres.user.username | default "username_test" | quote }}
  {{- if $postgres.user.requirePassword }}
  password: {{ $postgres.user.password | default "password_test" | quote }}
  {{- end }}
{{- end }}
