apiVersion: v1
kind: Secret
metadata:
  name: {{ .Values.usersSecret.name }}
  namespace: {{ .Release.Namespace }}
  labels:
    app.kubernetes.io/managed-by: Helm
type: Opaque
stringData:
  users-json: {{ .Values.users | toJson | quote }}
