global:
  cloudProvider:
    flavor: openshift
    dockerRegistryUrl: ""
    imagePullSecretName: ""
  tracing:
    url: ""
  metrics:
    url: ""

mclabels:
  component: backend
  partOf: backend
  owner: 3d
  prometheus:
    enabled: true

enabled: true
replicaCount: 1
revisionHistoryLimit: 5  # Amount of revisions we keep
nodePort: 30030  # for minikube deployment only
resetOnConfigChange: false

nameOverride: ""
fullnameOverride: ""

configManagement:
  offlineMode: true
  name: 'extractable-management'
  version: 'latest'
  serverUrl: 'http://localhost:8080/api'

livenessProbe:
  enabled: true
  initialDelaySeconds: 10
  timeoutSeconds: 5
  failureThreshold: 6
  path: /liveness

readinessProbe:
  enabled: true
  initialDelaySeconds: 10
  timeoutSeconds: 5
  failureThreshold: 6
  path: /liveness

podAnnotations: {}

extraVolumes: []

extraVolumeMounts: []

extraEnvVars: []

command: []
args: []
# command: [ "/bin/sh", "-c", "--" ]
# args: [ "while true; do sleep infinity; done;" ]

sidecars: []

cloudProvider:
  dockerRegistryUrl: ''
  imagePullSecretName: ''
  flavor: openshift

caSecretName: ''
caPath: '/usr/local/share/ca-certificates'
caKey: 'ca.crt'

image:
  repository: acrarolibotnonprod.azurecr.io/extractable-management
  tag:

env:
  port: 8080
  targetPort: 8080
  protocol: TCP
  logLevel: info
  logPrettyPrintEnabled: false
  responseCompressionEnabled: true
  requestPayloadLimit: 1mb
  tracing:
    enabled: false
    url: http://localhost:55681/v1/trace
  metrics:
    enabled: false
    url: http://localhost:55681/v1/metrics

resources:
  enabled: true
  value:
    limits:
      cpu: 100m
      memory: 128Mi
    requests:
      cpu: 100m
      memory: 128Mi

route:
  enabled: true
  path: /
  host: ''
  timeout:
    enabled: false  # defaults to 30s by openshift
    duration: 60s  # supported units (us, ms, s, m, h, d)
  rewriteTarget: ''
  tls:
    enabled: true
    termination: edge
    insecureEdgeTerminationPolicy: Redirect
    useCerts: false
    certificate: ''
    key: ''
    caCertificate: ''

ingress:
  enabled: false
  path: /
  host: 'localhost'
  cors:
    enabled: true
    origin: '*'

usersSecret:
  name: extractable-management-secrets
  key: users-json

postgres:
  enabled: true
  user:
    secretName: extractable-management-secrets
    requirePassword: true
  ssl:
    enabled: false
